* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #E6E9FB;
  font-size: 62.5%;
}

.newsletter-card {
  margin: 29.6em 17.3em;
  background-color: white;
  padding: 7.4em;
  border-radius: 16px;
}

.newsletter-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1.2rem;
  font-weight: bolder;
}

.newsletter-subtitle {
  font-size: 2.4rem;
  text-align: center;
  margin-left: 11.1rem;
  margin-right: 11.1rem;
}

.form-item-wrapper {
  margin-top: 2.4rem;
}

.email-input-wrapper {
  text-align: center;
}

.email-input-wrapper input {
  width: 59.9rem;
  height: 7.2rem;
  border-radius: 8px;
  border: 1px solid #B3B8D8;
}

.email-input-wrapper input::placeholder {
  padding-left: 3.2rem;
  color: #B3B8D8;
  font-size: 2.4rem;
}

/* write your CSS here */